<h1 class="justify-center text-center text-blue-700">List of Candidates</h1>
<section class="justify-center ml-52 mr-5">
  <div class="table w-full p-2">
    <table class="w-full border">
      <thead>
        <tr class="bg-gray-50 border-b">
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Name</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Phone</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Email</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">DOB</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Gender</div>
          </th>

          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Experience</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Education</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Skills</div>
          </th>

          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Achievement</div>
          </th>
          <!-- <th
          class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
        >
          <div class="flex items-center justify-center">Apply</div>
        </th>
        <th
        class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
      >
        <div class="flex items-center justify-center">Job status</div>
      </th> -->
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Status</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Option</div>
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let candidate of candidates.data">
        <tbody>
          <tr
            class="bg-gray-100 hover:bg-orange-100 text-center border-b text-sm text-gray-600"
          >
            <td class="p-2 border-r">{{ candidate.name }}</td>
            <td class="p-2 border-r">{{ candidate.phone }}</td>
            <td class="p-2 border-r">{{ candidate.email }}</td>
            <td class="p-2 border-r">{{ candidate.dob }}</td>
            <td class="p-2 border-r">{{ candidate.gender }}</td>
            <td class="p-2 border-r">{{ candidate.experience }}</td>
            <td class="p-2 border-r">{{ candidate.education }}</td>
            <td class="p-2 border-r">{{ candidate.skills }}</td>
            <td class="p-2 border-r">{{ candidate.achievement }}</td>
            <!-- <td class="p-2 border-r">{{ candidate.apply }}</td>
            <td class="p-2 border-r">{{ candidate.jobStatus }}</td> -->
            <td class="p-2 border-r">{{ candidate.status }}</td>

            <td>
              <button
                class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs mx-3 font-medium mt-2 mb-2"
                attr.id="{{ candidate.id }}"
                [routerLink]="['/candidate/edit']" 
                (click)="save($event)"
              >
                Edit
              </button>
              <button
                class="bg-red-500 p-2 text-white hover:shadow-lg text-xs mx-3 font-medium mt-2 mb-2"
                attr.id="{{ candidate.id }}"
                
                (click)="save($event); deleteConfirm()"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <div class="text-center mt-7">
    <button class="bg-blue-700 rounded-full text-white h-10 w-36 hover:bg-blue-500 text-base"   [routerLink]="['/candidate/create']" >create candidate</button>
  </div>
  </div>
</section>
<router-outlet></router-outlet>