<section class="justify-center ml-52 mr-10">
<h1 class="text-center text-blue-700">List of Jobs</h1>

  <div class="table w-full p-2">
    <table class="w-full border">
      <thead>
        <tr class="bg-gray-50 border-b">
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Job Name</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Role</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Skills</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Experience</div>
          </th>

          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Status</div>
          </th>
          <th
            class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500"
          >
            <div class="flex items-center justify-center">Option</div>
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let job of jobs.data">
        <tbody>
          <tr
            class="bg-gray-100 hover:bg-orange-100 text-center border-b text-sm text-gray-600" 
            attr.id="{{ job.id }}"
            (click)="view(job)"
            
          >
          
            <td class="p-2 border-r">{{ job.jobName }}</td>
            <td class="p-2 border-r">{{ job.role }}</td>
            <td class="p-2 border-r">{{ job.skills }}</td>
            <td class="p-2 border-r">{{ job.experience }}</td>
            <td class="p-2 border-r">{{ job.status }}</td>
            <td>
              <button
                class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs mx-3 font-medium mt-2 mb-2"
                attr.id="{{ job.id }}"
                (click)="save($event)"
                [routerLink]="['/job/edit']"
              >
                Edit
              </button>
              <button
                class="bg-red-500 p-2 text-white hover:shadow-lg text-xs mx-3 font-medium mt-2 mb-2"
                attr.id="{{ job.id }}"
                (click)="save($event); deleteConfirm()"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <div class="text-center mt-7">
    <button class="bg-blue-700 rounded-full text-white h-10 w-36 hover:bg-blue-500 text-base" [routerLink]="['/job/create']">Create Job</button>
  </div>
</div>
</section>
<router-outlet></router-outlet>
