<img
  class="h-10"
  [routerLink]="['/home']"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjCuupcMDWEs6_oUXskQvjPa_X1GlvTzEfgA&usqp=CAU.jpg"
/>

<form [formGroup]="myForm">
  <mat-form-field appearance="outline" class="h-5 w-full">
    <mat-label>Job Name</mat-label>
    <input type="text" matInput formControlName="jobName" />
    <mat-error class="text-xs"
      >Enter a valid Job name</mat-error
    > </mat-form-field
  ><br /><br /><br />

  <mat-form-field appearance="outline" class="h-5 w-full">
    <mat-label>Role</mat-label>
    <input type="text" matInput formControlName="role" />
    <mat-error class="text-xs">Enter a role</mat-error> </mat-form-field
  ><br /><br /><br />

  <mat-form-field appearance="outline" class="h-5 w-full">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description" />
    <mat-error class="text-xs"
      >Description must be more than 10 letters</mat-error
    > </mat-form-field
  ><br /><br /><br />

  <mat-form-field appearance="outline" class="h-5 w-full">
    <mat-label>Skills</mat-label>
    <input type="text" matInput formControlName="skills" />
    <mat-error class="text-xs">Enter proper skill</mat-error> </mat-form-field
  ><br /><br /><br />

  <mat-form-field appearance="outline" class="h-5 w-full">
    <mat-label>Experience</mat-label>
    <input type="text" matInput formControlName="experience" />
    <mat-error class="text-xs"
      >Enter proper experience</mat-error
    > </mat-form-field
  ><br /><br /><br />
  <button
    class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs mx-3 font-medium w-32 rounded-full hover:bg-blue-300"
    (click)="create()"
  >
    Save
  </button>
</form>
